@media screen and (max-width: 1000px) {
  #logo-section {
    height: 400px;
    width: 100%;
    position: inherit;
  }

  #list-container {
    display: block;
    float: none;
    position: relative;
    width: 100%;
  }

  header {
    border-radius: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
    display: inherit;
    margin: 0 auto;
    position: inherit;
    text-align: center;
    top: 0;
    right: 0;
    height: 55px;
  }

  h3 {
    display: block;
    font-weight: 400;
    margin: 0 auto 3px auto;
  }
}
