body {
  background-color: #CFD8DC;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

main {
  position: relative;
}

#logo-section {
  align-items: center;
  background-color: #455A64;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 50%;
}

h1 {
  color: #FFFFFF;
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 60px;
}

img {
  border: none;
}

#logo {
  height: 150px;
  width: 150px;
  margin-bottom: -40px;
}

input, #create-btn {
  height: 50px;
  width: 85%;
  outline: none;
  margin-bottom: 50px;
}

input {
  font-size: 2rem;
  text-indent: 10px;
}

#create-btn {
  font-size: 1.2rem;
  font-weight: 800;
  color: #FFFFFF;
  background-color: #FFC107;
  border: none;
}

#create-btn:hover {
  background-color: #FFD773;
  cursor: pointer;
}

#create-btn:active {
  transform: translateY(2px);
}

#list-container {
  float: right;
  position: relative;
  height: 100%;
  width: 50%;
}

header {
  background-color: #455A64;
  border-radius: 8px;
  border: 2px solid #FFD773;
  color: #FFFFFF;
  padding: 8px;
  position: fixed;
  top: 12px;
  right: 4px;
  height: 72px;
  width: 200px;
  z-index: 999;
}

.hide {
  display: none;
}

h3 {
  font-weight: 800;
  margin: 4px;
}

#read-bkm-output {
  display: inline-block;
}

#remove-read-btn {
  border: none;
  background-color: #455864;
  outline: none;
  margin: 0 -6px 0 -2px;
}

#trash-img {
  height:12px;
  filter: grayscale(1) brightness(10);
}

#remove-read-btn img {
  height:15px;
  filter: grayscale(1) brightness(10);
}

#remove-read-btn img:hover {
  cursor: pointer;
  filter: grayscale(0) brightness(1);
}

.new-bkm {
  position: relative;
  width: 75%;
  margin: 30px auto;
}

.unread {
  background-color: #FFFFFF;
  border: solid 2px #607D8B;
}

.read {
  background-color: #F2F4F4;
}

h2 {
  color: #455A64;
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 1.4;
  margin-left: 7%;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
}

hr {
  background-color: #CFD8DC;
  border: none;
  margin: 20px auto 20px auto;
  height: 2px;
  width: 90%;
}

#hr-lower {
  margin-bottom: 50px;
}

a {
  color: #607D8B;
  display: block;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-left: 7%;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.url-span {
  border-bottom: 2px solid #F2F4F4;
}

.url-span:hover, .url-span.txt-dec-update:hover {
  border-bottom: 2px solid #FFC107;
  cursor: pointer;
  font-weight: 800;
}

.unread-btn {
  font-size: 1.2rem;
  background-color: #FFFFFF;
  color: #455A64;
  font-weight: 400;
  position: absolute;
  bottom: 7px;
  left: 6%;
  border: none;
  border-bottom: 2px solid #F2F4F4;
  outline: none;
  padding: 0px;
}

.read-btn-update {
  background-color: #F2F4F4;
  color: #F05A28;
  font-weight: 800;
}

.unread-btn:hover {
  font-weight: 800;
  border-bottom: 2px solid #FFC107;
  cursor: pointer;
}

.delete {
  font-size: 1.2rem;
  position: absolute;
  bottom: 7px;
  right: 6%;
  border: none;
  background-color: #FFFFFF;
  color: #455A64;
  border-bottom: 2px solid #F2F4F4;
  outline: none;
  padding: 0px;
}

.delete-update {
  background-color: #F2F4F4;
}

.txt-dec-update {
  border-bottom: 2px solid #CFD8DC;
}

h2.txt-dec-update {
  border: none;
}

hr.txt-dec-update {
  background-color: #CFD8DC;
  border: none;
  height: 2px;
}

.url-span.txt-dec-update {
  border-bottom: 2px solid #CFD8DC;
}

a.txt-dec-update {
  border-bottom: none;
}

.delete:hover {
  border-bottom: 2px solid #FFC107;
  cursor: pointer;
}
