body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

main {
  position: relative;
}

img {
  border: none;
}

#logo-section {
  background-color: #455A64;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 50%;
}

#logo {
  height: 150px;
  width: 150px;
  margin-bottom: -40px;
}

h1 {
  color: #FFFFFF;
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 60px;
}

input, #create-btn {
  height: 50px;
  width: 85%;
  outline: none;
  margin-bottom: 50px;
}

input {
  font-size: 2rem;
  text-indent: 10px;
}

#create-btn {
  font-size: 1.2rem;
  font-weight: 800;
  color: #FFFFFF;
  background-color: #FFC107;
  border: none;
}

#create-btn:hover {
  background-color: #FFD773;
  cursor: pointer;
}

#create-btn:active {
  transform: translateY(2px);
}

#list {
  background-color: #CFD8DC;
  float: right;
  position: relative;
  height: 100%;
  width: 50%;
}

header {
  background-color: #455A64;
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: 800;
  position: fixed;
  top: 0;
  right: 0;
  height: 75px;
  width: 190px;
  padding: 8px;
  z-index: 999;
}

h3 {
  margin: 5px 0;
}

.new-bkm {
  background-color: #FFFFFF;
  border: solid 2px #607D8B;
  position: relative;
  width: 75%;
  margin: 30px auto;
}

h2 {
  font-weight: 800;
  font-size: 2.2rem;
  color: #455A64;
  margin-left: 5%;
  margin-top: 15px;
}

hr {
  color: #CFD8DC;
  width: 90%;
  margin: 25px auto 40px auto;
}

a {
  color: #607D8B;
  font-size: 1.5rem;
  margin-left: 5%;
  text-decoration-color: #F2F4F4;
}

a:hover {
  font-weight: 800;
  text-decoration-color: #FFC107;
  cursor: pointer;
}

.unread {
  font-size: 1.2rem;
  position: absolute;
  bottom: 5px;
  left: 5%;
  border: none;
  background-color: #FFFFFF;
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  outline: none;
}

.unread:hover {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #FFC107;
  cursor: pointer;
}

.delete {
  font-size: 1.2rem;
  position: absolute;
  bottom: 5px;
  right: 5%;
  border: none;
  background-color: #FFFFFF;
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  outline: none;
}

.delete:hover {
  text-decoration: underline;
  text-decoration-color: #FFC107;
  cursor: pointer;
}
