body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

#creation {
  align-items: center;
  background-color: #EECD86;
  border-bottom: solid 4px #E18942;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
}

#logo {
  display: block;
  color: #3D3242;
  font-weight: 700;
  font-size: 5rem;
}

#inputs {
  flex-direction: row;
  margin-top: 25px;
}

input, button {
  height: 35px;
  width: 230px;
  margin: 0 8px;
  text-indent: 8px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 4px;
}

button {
  background-color: #E18942;
  color: #FFFFFF;
  font-size: 1.5rem;
  height: 40px;
  width: 150px;
  margin-top: 25px;
  text-indent: 0px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #B95835;
  cursor: pointer;
}

button:active {
  transition-duration: 0.2s;
  transform: translateY(8px);
}

#count {
  display: flex;
  justify-content: center;
  /*border: 2px solid aqua;*/
}

.counting {
  background-color: #3D3242;
  border-radius: 4px;
  color: #FFFFFF;
  height: 50px;
  width: 70px;
  margin: 20px 40px;
  padding: 10px;
  text-align: center;
}

span {
  display: block;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 5px;
}

#bkm-list {
  display: flex;
  justify-content: center;
  /*is it working?!?!?*/
  /*flex-wrap: wrap;*/
  /*border: 2px solid pink;*/
}

.new-bkm {
  border: solid 4px #E18942;
  border-radius: 4px;
  height: 100px;
  width: 200px;
  margin: 20px;
  position: relative;
  text-align: center;
}

.bkm-name {
  background-color: #E18942;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2px;
}

.bkm-url {
  margin: 12px;
  font-size: 1.2rem;
}

div {
  /*border: 2px solid aqua;*/
  position: absolute;
  bottom: 5px;
  left: 5px;
}

div label {
  display: block;
  font-size: 0.8rem;
}

div input {
  width: 14px;
  height: 14px;
  margin:0;
}

.bkm-remove {
  font-size: 0.7rem;
  height: 20px;
  width: 60px;
  margin: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.bkm-remove:active {
  transition-duration: none;
  transform: none;
}

.hide {
  display: none;
}
